<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to NobleCheetahs14.com, <%= @user.username %></h1>
    <p>
      You have successfully signed up to NobleCheetahs14.com meeooooooowwww ;) ,
      your username is: <%= @user.username %>.<br />
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a meowtiful day!</p>
  </body>
</html>